<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Chartjs</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Charts</a></li>
                            <li class="breadcrumb-item active">Chartjs</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Line Chart</h4>
                        </div>
                        <div class="card-body">

                            <canvas id="lineChart" height="300" data-colors='["rgba(81, 86, 190, 0.2)" ,"#5156be" ,"rgba(235,239, 242, 0.2)" ,"#ebeff2" ]'></canvas>

                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Bar Chart</h4>
                        </div>
                        <div class="card-body">

                            <canvas id="bar" height="300" data-colors='["rgba(41, 181, 125, 0.8)" ,"rgba(41, 181, 125,0.9)" ]'></canvas>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->


            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Pie Chart</h4>
                        </div>
                        <div class="card-body">

                            <canvas id="pie" height="260" data-colors='["#2ab57d" ,"#ebeff2" ]'></canvas>

                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Donut Chart</h4>
                        </div>
                        <div class="card-body">

                            <canvas id="doughnut" height="260" data-colors='["#5156be" ,"#ebeff2" ]'></canvas>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Polar Chart</h4>
                        </div>
                        <div class="card-body">

                            <canvas id="polarArea" height="300" data-colors='["#fd625e" ,"#2ab57d" ,"#ffbf53" ,"#5156be" ]'>
                            </canvas>

                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Radar Chart</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="radar" height="300" data-colors='["rgba(42, 181, 125, 0.2)" ,"#2ab57d" ,"rgba(81,86, 190, 0.2)" ,"#5156be" ]'></canvas>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            <%- contentFor('FooterJs') %>

                <!-- Chart JS -->
                <script src="public/assets/libs/chart.js/Chart.bundle.min.js"></script>
                <!-- chartjs init -->
                <script src="public/assets/js/pages/chartjs.init.js"></script>

                <%- contentFor('BottomJs') %>