<%- contentFor('HeaderCss') %>

    <!-- jquery.vectormap css -->
    <link
        href="public/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css"
        rel="stylesheet" type="text/css" />

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Vector</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Maps</a></li>
                            <li class="breadcrumb-item active">Vector</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">World Vector Map</h4>
                            <p class="card-title-desc">Example of world vector
                                maps.</p>
                        </div>
                        <div class="card-body">
                            <div id="world-map-markers" style="height: 420px"></div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">USA Vector Map</h4>
                            <p class="card-title-desc">Example of united states
                                of ameria vector maps.</p>
                        </div>
                        <div class="card-body">
                            <div id="usa-vectormap" style="height: 350px"></div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">India Vector Map</h4>
                            <p class="card-title-desc">Example of india vector
                                maps.</p>
                        </div>
                        <div class="card-body">
                            <div id="india-vectormap" style="height: 350px"></div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Australia Vector Map</h4>
                            <p class="card-title-desc">Example of australia
                                vector maps.</p>
                        </div>
                        <div class="card-body">
                            <div id="australia-vectormap" style="height: 350px"></div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Chicago Vector Map</h4>
                            <p class="card-title-desc">Example of chicago vector
                                maps.</p>
                        </div>
                        <div class="card-body">
                            <div id="chicago-vectormap" style="height: 350px"></div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">UK Vector Map</h4>
                            <p class="card-title-desc">Example of united kingdom
                                vector maps.</p>
                        </div>
                        <div class="card-body">
                            <div id="uk-vectormap" style="height: 350px"></div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Canada Vector Map</h4>
                            <p class="card-title-desc">Example of canada vector
                                maps.</p>
                        </div>
                        <div class="card-body">
                            <div id="canada-vectormap" style="height: 350px"></div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->

            <%- contentFor('FooterJs') %>

                <!-- jquery.vectormap js-->
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-in-mill-en.js"></script>
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-au-mill-en.js"></script>
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-il-chicago-mill-en.js"></script>
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-uk-mill-en.js"></script>
                <script
                    src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-ca-lcc-en.js"></script>
                <!-- Init js-->
                <script src="public/assets/js/pages/vector-maps.init.js"></script>
                
                <%- contentFor('BottomJs') %>