<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Editable</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Tables</a></li>
                            <li class="breadcrumb-item active">Editable</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Table Edit</h4>
                            <p class="card-title-desc">Table Edits is a
                                lightweight jQuery plugin for making table rows
                                editable.</p>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-editable table-nowrap
                                    align-middle table-edits">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-id="1">
                                            <td data-field="id" style="width:
                                                80px">1</td>
                                            <td data-field="name">David McHenry</td>
                                            <td data-field="age">24</td>
                                            <td data-field="gender">Male</td>
                                            <td style="width: 100px">
                                                <a class="btn
                                                    btn-outline-secondary btn-sm
                                                    edit" title="Edit">
                                                    <i class="fas
                                                        fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="2">
                                            <td data-field="id">2</td>
                                            <td data-field="name">Frank Kirk</td>
                                            <td data-field="age">22</td>
                                            <td data-field="gender">Male</td>
                                            <td>
                                                <a class="btn
                                                    btn-outline-secondary btn-sm
                                                    edit" title="Edit">
                                                    <i class="fas
                                                        fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="3">
                                            <td data-field="id">3</td>
                                            <td data-field="name">Rafael Morales</td>
                                            <td data-field="age">26</td>
                                            <td data-field="gender">Male</td>
                                            <td>
                                                <a class="btn
                                                    btn-outline-secondary btn-sm
                                                    edit" title="Edit">
                                                    <i class="fas
                                                        fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="4">
                                            <td data-field="id">4</td>
                                            <td data-field="name">Mark Ellison</td>
                                            <td data-field="age">32</td>
                                            <td data-field="gender">Male</td>
                                            <td>
                                                <a class="btn
                                                    btn-outline-secondary btn-sm
                                                    edit" title="Edit">
                                                    <i class="fas
                                                        fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr data-id="5">
                                            <td data-field="id">5</td>
                                            <td data-field="name">Minnie Walter</td>
                                            <td data-field="age">27</td>
                                            <td data-field="gender">Female</td>
                                            <td>
                                                <a class="btn
                                                    btn-outline-secondary btn-sm
                                                    edit" title="Edit">
                                                    <i class="fas
                                                        fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            <%- contentFor('FooterJs') %>

                <!-- Table Editable plugin -->
                <script
                    src="public/assets/libs/table-edits/build/table-edits.min.js"></script>
                <script src="public/assets/js/pages/table-editable.int.js"></script>
                
                <%- contentFor('BottomJs') %>