<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8" />
  <title><%- title %> | Minia - Admin & Dashboard Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
  <meta content="Themesbrand" name="author">
  <!-- App favicon -->
  <link rel="shortcut icon" href="public/assets/images/favicon.ico">

  <%- HeaderCss %>
  
  <%- include ('./Partials/HeaderStyle')  %>

</head>

<body data-topbar="light" data-layout="horizontal">

  <!-- Begin page -->
  <div id="layout-wrapper">

    <%- include ('./Partials/Horizontal')  %>

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <%- body %>
        </div>
      </div>
      <%- include ('./Partials/Footer') %>
    </div>
  </div>

  <%- include ('./Partials/Rightbar')  %>
  <%- include ('./Partials/VendorScript')  %>

  <%- FooterJs %>

  <script src="public/assets/js/app.js"></script>

  <%- BottomJs %>
</body>

</html>