<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu"><%=translation.Menu%></li>

                <li>
                    <a href="/">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard"><%=translation.Dashboard%></span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="grid"></i>
                        <span data-key="t-apps"><%=translation.Apps%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="calendar">
                                <span data-key="t-calendar"><%=translation.Calendar%></span>
                            </a>
                        </li>
        
                        <li>
                            <a href="apps-chat">
                                <span data-key="t-chat"><%=translation.Chat%></span>
                            </a>
                        </li>
        
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-email"><%=translation.Email%></span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="email-inbox" data-key="t-inbox"><%=translation.Inbox%></a></li>
                                <li><a href="email-read" data-key="t-read-email"><%=translation.Read_Email%></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-invoices"><%=translation.Invoices%></span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="invoices-list" data-key="t-invoice-list"><%=translation.Invoice_List%></a></li>
                                <li><a href="invoices-detail" data-key="t-invoice-detail"><%=translation.Invoice_Detail%></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <span data-key="t-contacts"><%=translation.Contacts%></span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="contacts-grid" data-key="t-user-grid"><%=translation.User_Grid%></a></li>
                                <li><a href="contacts-list" data-key="t-user-list"><%=translation.User_List%></a></li>
                                <li><a href="contacts-profile" data-key="t-profile"><%=translation.Profile%></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="users"></i>
                        <span data-key="t-authentication"><%=translation.Authentication%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-login" data-key="t-login"><%=translation.Login%></a></li>
                        <li><a href="pages-register" data-key="t-register"><%=translation.Register%></a></li>
                        <li><a href="pages-recoverpw" data-key="t-recover-password"><%=translation.Recover_Password%></a></li>
                        <li><a href="pages-lock-screen" data-key="t-lock-screen"><%=translation.Lock_Screen%> </a></li>
                        <li><a href="pages-confirm-mail" data-key="t-confirm-mail"><%=translation.Confirm_Mail%></a></li>
                        <li><a href="pages-email-verification" data-key="t-email-verification"><%=translation.Email_Verification%></a></li>
                        <li><a href="pages-two-step-verification" data-key="t-two-step-verification"><%=translation.Two_Step_Verification%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="file-text"></i>
                        <span data-key="t-pages"><%=translation.Pages%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-starter" data-key="t-starter-page"><%=translation.Starter_Page%></a></li>
                        <li><a href="pages-maintenance" data-key="t-maintenance"><%=translation.Maintenance%></a></li>
                        <li><a href="pages-comingsoon" data-key="t-coming-soon"><%=translation.Coming_Soon%></a></li>
                        <li><a href="pages-timeline" data-key="t-timeline"><%=translation.Timeline%></a></li>
                        <li><a href="pages-faqs" data-key="t-faqs"><%=translation.FAQs%></a></li>
                        <li><a href="pages-pricing" data-key="t-pricing"><%=translation.Pricing%></a></li>
                        <li><a href="pages-404" data-key="t-error-404"><%=translation.Error_404%></a></li>
                        <li><a href="pages-500" data-key="t-error-500"><%=translation.Error_500%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="layouts-horizontal">
                        <i data-feather="layout"></i>
                        <span data-key="t-horizontal"><%=translation.Horizontal%></span>
                    </a>
                </li>

                <li class="menu-title mt-2" data-key="t-components"><%=translation.Elements%></li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="briefcase"></i>
                        <span data-key="t-components"><%=translation.Components%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ui-alerts" data-key="t-alerts"><%=translation.Alerts%></a></li>
                        <li><a href="ui-buttons" data-key="t-buttons"><%=translation.Buttons%></a></li>
                        <li><a href="ui-cards" data-key="t-cards"><%=translation.Cards%></a></li>
                        <li><a href="ui-carousel" data-key="t-carousel"><%=translation.Carousel%></a></li>
                        <li><a href="ui-dropdowns" data-key="t-dropdowns"><%=translation.Dropdowns%></a></li>
                        <li><a href="ui-grid" data-key="t-grid"><%=translation.Grid%></a></li>
                        <li><a href="ui-images" data-key="t-images"><%=translation.Images%></a></li>
                        <li><a href="ui-modals" data-key="t-modals"><%=translation.Modals%></a></li>
                        <li><a href="ui-offcanvas" data-key="t-offcanvas"><%=translation.Offcanvas%></a></li>
                        <li><a href="ui-progressbars" data-key="t-progress-bars"><%=translation.Progress_Bars%></a></li>
                        <li><a href="ui-tabs-accordions" data-key="t-tabs-accordions"><%=translation.Tabs_n_Accordions%></a></li>
                        <li><a href="ui-typography" data-key="t-typography"><%=translation.Typography%></a></li>
                        <li><a href="ui-video" data-key="t-video"><%=translation.Video%></a></li>
                        <li><a href="ui-general" data-key="t-general"><%=translation.General%></a></li>
                        <li><a href="ui-colors" data-key="t-colors"><%=translation.Colors%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="gift"></i>
                        <span data-key="t-ui-elements"><%=translation.Extended%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="extended-lightbox" data-key="t-lightbox"><%=translation.Lightbox%></a></li>
                        <li><a href="extended-rangeslider" data-key="t-range-slider"><%=translation.Range_Slider%></a></li>
                        <li><a href="extended-sweet-alert" data-key="t-sweet-alert"><%=translation.SweetAlert_2%></a></li>
                        <li><a href="extended-session-timeout" data-key="t-session-timeout"><%=translation.Session_Timeout%></a></li>
                        <li><a href="extended-rating" data-key="t-rating"><%=translation.Rating%></a></li>
                        <li><a href="extended-notifications" data-key="t-notifications"><%=translation.Notifications%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="box"></i>
                        <span class="badge rounded-pill bg-soft-danger text-danger float-end">7</span>
                        <span data-key="t-forms"><%=translation.Forms%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="form-elements" data-key="t-form-elements"><%=translation.Basic_Elements%></a></li>
                        <li><a href="form-validation" data-key="t-form-validation"><%=translation.Validation%></a></li>
                        <li><a href="form-advanced" data-key="t-form-advanced"><%=translation.Advanced_Plugins%></a></li>
                        <li><a href="form-editors" data-key="t-form-editors"><%=translation.Editors%></a></li>
                        <li><a href="form-uploads" data-key="t-form-upload"><%=translation.File_Upload%></a></li>
                        <li><a href="form-wizard" data-key="t-form-wizard"><%=translation.Wizard%></a></li>
                        <li><a href="form-mask" data-key="t-form-mask"><%=translation.Mask%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="sliders"></i>
                        <span data-key="t-tables"><%=translation.Tables%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tables-basic" data-key="t-basic-tables"><%=translation.Bootstrap_Basic%></a></li>
                        <li><a href="tables-datatable" data-key="t-data-tables"><%=translation.DataTables%></a></li>
                        <li><a href="tables-responsive" data-key="t-responsive-table"><%=translation.Responsive%></a></li>
                        <li><a href="tables-editable" data-key="t-editable-table"><%=translation.Editable%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="pie-chart"></i>
                        <span data-key="t-charts"><%=translation.Charts%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="charts-apex" data-key="t-apex-charts"><%=translation.Apexcharts%></a></li>
                        <li><a href="charts-echart" data-key="t-e-charts"><%=translation.Echarts%></a></li>
                        <li><a href="charts-chartjs" data-key="t-chartjs-charts"><%=translation.Chartjs%></a></li>
                        <li><a href="charts-knob" data-key="t-knob-charts"><%=translation.Jquery_Knob%></a></li>
                        <li><a href="charts-sparkline" data-key="t-sparkline-charts"><%=translation.Sparkline%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="cpu"></i>
                        <span data-key="t-icons"><%=translation.Icons%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="icons-boxicons" data-key="t-boxicons"><%=translation.Boxicons%></a></li>
                        <li><a href="icons-materialdesign" data-key="t-material-design"><%=translation.Material_Design%></a></li>
                        <li><a href="icons-dripicons" data-key="t-dripicons"><%=translation.Dripicons%></a></li>
                        <li><a href="icons-fontawesome" data-key="t-font-awesome"><%=translation.Font_Awesome_5%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="map"></i>
                        <span data-key="t-maps"><%=translation.Maps%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="maps-google" data-key="t-g-maps"><%=translation.Google%></a></li>
                        <li><a href="maps-vector" data-key="t-v-maps"><%=translation.Vector%></a></li>
                        <li><a href="maps-leaflet" data-key="t-l-maps"><%=translation.Leaflet%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="share-2"></i>
                        <span data-key="t-multi-level"><%=translation.Multi_Level%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" data-key="t-level-1-1"><%=translation.Level_1_1%></a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" data-key="t-level-1-2"><%=translation.Level_1_2%></a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" data-key="t-level-2-1"><%=translation.Level_2_1%></a></li>
                                <li><a href="javascript: void(0);" data-key="t-level-2-2"><%=translation.Level_2_2%></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
                <div class="card-body">
                    <img src="public/assets/images/giftbox.png" alt="">
                    <div class="mt-4">
                        <h5 class="alertcard-title font-size-16"><%=translation.Unlimited_Access%></h5>
                        <p class="font-size-13">Upgrade your plan from a Free trial, to select 'Business Plan.</p>
                        <a href="#!" class="btn btn-primary mt-2"><%=translation.Upgrade_Now%></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->