<<%- contentFor('HeaderCss') %>

    <!-- flatpickr css -->
    <link href="public/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet"
        type="text/css">

    <!-- DataTables -->
    <link
        href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link
        href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
        rel="stylesheet" type="text/css" />

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Invoice List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Invoices</a></li>
                            <li class="breadcrumb-item active">Invoice List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="mb-4">
                                        <button type="button" class="btn
                                            btn-light waves-effect waves-light"><i
                                                class="bx bx-plus me-1"></i> Add
                                            Invoice</button>
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="d-flex align-items-center gap-1
                                        mb-4">
                                        <div class="input-group">
                                            <input type="text"
                                                class="form-control"
                                                id="datepicker-range">
                                            <span class="input-group-text"><i
                                                    class="bx
                                                    bx-calendar-event"></i></span>
                                        </div>
                                        <div class="dropdown">
                                            <a class="btn btn-link text-muted
                                                py-1 font-size-16 shadow-none
                                                dropdown-toggle" href="#"
                                                role="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class="bx
                                                    bx-dots-horizontal-rounded"></i>
                                            </a>

                                            <ul class="dropdown-menu
                                                dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="#">Action</a></li>
                                                <li><a class="dropdown-item"
                                                        href="#">Another action</a></li>
                                                <li><a class="dropdown-item"
                                                        href="#">Something else
                                                        here</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="table-responsive">
                                <table class="table align-middle datatable
                                    dt-responsive table-check nowrap"
                                    style="border-collapse: collapse;
                                    border-spacing: 0 8px; width: 100%;">
                                    <thead>
                                        <tr class="bg-transparent">
                                            <th style="width: 30px;">
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        name="check"
                                                        class="form-check-input"
                                                        id="checkAll">
                                                    <label
                                                        class="form-check-label"
                                                        for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th style="width: 120px;">Invoice ID</th>
                                            <th>Date</th>
                                            <th>Billing Name</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th style="width: 150px;">Download
                                                Pdf</th>
                                            <th style="width: 90px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0215</a>
                                            </td>
                                            <td>
                                                12 Oct, 2020
                                            </td>
                                            <td>Connie Franco</td>

                                            <td>
                                                $26.30
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0214</a>
                                            </td>
                                            <td>
                                                11 Oct, 2020
                                            </td>
                                            <td>Paul Reynolds</td>

                                            <td>
                                                $24.20
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0213</a>
                                            </td>
                                            <td>
                                                10 Oct, 2020
                                            </td>
                                            <td>Ronald Patterson</td>

                                            <td>
                                                $20.20
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-warning
                                                    font-size-12">Pending</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0212</a>
                                            </td>
                                            <td>
                                                09 Oct, 2020
                                            </td>
                                            <td>Adella Perez</td>

                                            <td>
                                                $16.80
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0211</a>
                                            </td>
                                            <td>
                                                08 Oct, 2020
                                            </td>
                                            <td>Theresa Mayers</td>

                                            <td>
                                                $22.00
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0210</a>
                                            </td>
                                            <td>
                                                07 Oct, 2020
                                            </td>
                                            <td>Michael Wallace</td>

                                            <td>
                                                $15.60
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0209</a>
                                            </td>
                                            <td>
                                                06 Oct, 2020
                                            </td>
                                            <td>Oliver Gonzales</td>

                                            <td>
                                                $26.50
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-warning
                                                    font-size-12">Pending</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0208</a>
                                            </td>
                                            <td>
                                                05 Oct, 2020
                                            </td>
                                            <td>David Burke</td>

                                            <td>
                                                $24.20
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-label"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0207</a>
                                            </td>
                                            <td>
                                                04 Oct, 2020
                                            </td>
                                            <td>Willie Verner</td>

                                            <td>
                                                $21.30
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-warning
                                                    font-size-12">Pending</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-labe10"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0206</a>
                                            </td>
                                            <td>
                                                03 Oct, 2020
                                            </td>
                                            <td>Felix Perry</td>

                                            <td>
                                                $22.60
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-labe11"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0205</a>
                                            </td>
                                            <td>
                                                02 Oct, 2020
                                            </td>
                                            <td>Virgil Kelley</td>

                                            <td>
                                                $18.20
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-success
                                                    font-size-12">Paid</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check
                                                    font-size-16">
                                                    <input type="checkbox"
                                                        class="form-check-input">
                                                    <label
                                                        class="form-check-labe12"></label>
                                                </div>
                                            </td>

                                            <td><a href="javascript: void(0);"
                                                    class="text-dark fw-medium">#MN0204</a>
                                            </td>
                                            <td>
                                                01 Oct, 2020
                                            </td>
                                            <td>Matthew Lawler</td>

                                            <td>
                                                $15.80
                                            </td>
                                            <td>
                                                <div class="badge
                                                    badge-soft-warning
                                                    font-size-12">Pending</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button type="button"
                                                        class="btn
                                                        btn-soft-light btn-sm
                                                        w-xs waves-effect
                                                        btn-label waves-light"><i
                                                            class="bx
                                                            bx-download
                                                            label-icon"></i> Pdf</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-link
                                                        font-size-16 shadow-none
                                                        py-0 text-muted
                                                        dropdown-toggle"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <i class="bx
                                                            bx-dots-horizontal-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu
                                                        dropdown-menu-end">
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Edit</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Print</a></li>
                                                        <li><a
                                                                class="dropdown-item"
                                                                href="#">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table responsive -->
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <%- contentFor('FooterJs') %>

                <!-- flatpickr js -->
                <script src="public/assets/libs/flatpickr/flatpickr.min.js"></script>
                <!-- Required datatable js -->
                <script
                    src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
                <script
                    src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
                <!-- Responsive examples -->
                <script
                    src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
                <script
                    src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
                <!-- init js -->
                <script src="public/assets/js/pages/invoices-list.init.js"></script>
                
                <%- contentFor('BottomJs') %>