<%- contentFor('HeaderCss') %>

    <%- contentFor('breadcrumb') %>

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center
                    justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Editors</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript:
                                    void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Editors</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <%- contentFor('body') %>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ckeditor Classic editor</h4>
                            <p class="card-title-desc">Example of Ckeditor
                                Classic editor</p>
                        </div>
                        <div class="card-body">
                            <div id="ckeditor-classic"></div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

            <%- contentFor('FooterJs') %>

                <!-- ckeditor -->
                <script
                    src="public/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
                <!-- init js -->
                <script src="public/assets/js/pages/form-editor.init.js"></script>
                
                <%- contentFor('BottomJs') %>